<%= form_with(model: asset, local: true) do |form| %>
  <% if asset.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(asset.errors.count, "error") %> prohibited this asset from being saved:</h2>

      <ul>
        <% asset.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :asset_tag %>
    <%= form.text_field :asset_tag %>
  </div>

  <div class="field">
    <%= form.label :serial_number %>
    <%= form.text_field :serial_number %>
  </div>

  <div class="field">
    <%= form.label :category_id %>
    <%= form.text_field :category_id %>
  </div>

  <div class="field">
    <%= form.label :model_id %>
    <%= form.text_field :model_id %>
  </div>

  <div class="field">
    <%= form.label :primary_user %>
    <%= form.text_field :primary_user %>
  </div>

  <div class="field">
    <%= form.label :location_id %>
    <%= form.text_field :location_id %>
  </div>

  <div class="field">
    <%= form.label :purchase_date %>
    <%= form.datetime_select :purchase_date %>
  </div>

  <div class="field">
    <%= form.label :warranty_expiry %>
    <%= form.datetime_select :warranty_expiry %>
  </div>

  <div class="field">
    <%= form.label :notes %>
    <%= form.text_area :notes %>
  </div>

  <div class="field">
    <%= form.label :is_deleted %>
    <%= form.check_box :is_deleted %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
