<%= form_with(model: asset, local: true) do |form| %>
  <% if asset.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(asset.errors.count, "error") %> prohibited this asset from being saved:</h2>

      <ul>
        <% asset.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-row">
    <div class="field form-group col-md-6">
      <%= form.label :asset_tag %>
      <%= form.text_field :asset_tag, :class => "form-control-plaintext" %>
    </div>
    <div class="field form-group col-md-6">
      <%= form.label :serial_number %>
      <%= form.text_field :serial_number, :class => "form-control" %>
    </div>
  </div>

  <div class="form-row">
    <div class="field form-group col-md-6">
      <%= form.label :category_id %>
      <%= form.collection_select :category_name, Category.all, :name, :name, {}, {:class => "custom-select"} %>
      <%# <%= form.text_field :category_id, :class => "form-control" %>
    </div>
    <div class="field form-group col-md-6">
      <%= form.label :model_id %>
      <%= form.collection_select :model_name, Model.all, :name, :name, {}, {:class => "custom-select"} %>
    </div>
  </div>
  <div class="form-row">
    <div class="field form-group col-md-6">
      <%= form.label :primary_user %>
      <%= form.text_field :primary_user, :class => "form-control" %>
    </div>

    <div class="field form-group col-md-6">
      <%= form.label :location_id %>
      <%= form.collection_select :location_name, Location.all, :name, :name, {}, {:class => "custom-select"} %>
    </div>
  </div>

  <div class="form-row">
    <div class="field form-group col-md-6">
      <%= form.label :purchase_date %>
      <%= form.datetime_select :purchase_date, :class => "form-control"%>
    </div>

    <div class="field form-group col-md-6">
      <%= form.label :warranty_expiry %>
      <%= form.datetime_select :warranty_expiry, :class => "form-control" %>
    </div>
  </div>

  <div class="field form-group">
    <%= form.label :notes %>
    <%= form.text_area :notes, :class => "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit 'Update', :class => "btn btn-primary" %>
  </div>
<% end %>
