<p id="notice"><%= notice %></p>

<h1>Assets</h1>

<%= link_to 'New Asset', new_asset_path, :class => "btn btn-primary float-right" %>

<table class="table table-borderless">
  <thead>
    <tr>
      <th>Asset tag</th>
      <th>Serial number</th>
      <th>Category</th>
      <th>Manufacturer</th>
      <th>Model</th>
      <!-- <th>Primary user</th>
      <th>Created Date</th>
      <th>Last Updated</th> -->
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @assets.each do |asset| %>
      <tr>
        <td><%= link_to asset.asset_tag, asset %></td>
        <td><%= asset.serial_number %></td>
        <td><%= asset.category.name %></td>
        <td><%= asset.model.manufacturer.name %></td>
        <td><%= asset.model.name %></td>
        <!-- <td><%= asset.primary_user %></td>
        <td><%= asset.created_at.strftime("%Y-%m-%d") %></td>
        <td><%= asset.updated_at.strftime("%Y-%m-%d") %></td> -->
        <!-- <td>
          <div class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Action
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <%= link_to 'Show', asset, :class => "dropdown-item" %>
              <%= link_to 'Edit', edit_asset_path(asset), :class => "dropdown-item" %>
              <%= link_to 'Destroy', asset, :class => "dropdown-item", method: :delete, data: { confirm: 'Are you sure?' } %>
            </div>
          </div>
        </td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>
